<div>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color:skyblue;">
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:skyblue;">
            <a class="navbar-brand">
                <img src="https://previews.123rf.com/images/sonulkaster/sonulkaster1801/sonulkaster180100377/94503318-pharmacy-or-drugstore-logo-template-vector-cross-and-pill-isolated-icon-for-pharmacy-or-medicine-and.jpg" width="30" height="30" class="d-inline-block align-top">
            </a>
        </nav>
        <a class="navbar-brand" routerLink="/">Medical Store</a>
        <button class="navbar-toggler d-lg-none" type="button" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/order-details">Order Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shipping-details">Shipping Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/update-shipping">Update Shipping Details</a>
                </li>
            </ul>
        </div>
    </nav>
</div>